<div style="background-color: #e9eaed;">
<h1>Recent Posts</h1>
	<% @posts.reverse.each do |post| %>
	<div style="background-color: #ffffff; width: 400px; border: 2px solid #d3d6db; padding: 10px; word-break: break-all;">
		<h3 style="color: blue;"><%= post.name %></h3>
		<p><%= post.content %></p>
		<p style="font-size: 90%; text-align: right;"><a href="/wall/edit/<%= post.id %>">edit</a></p>
	</div><br>
	<% end %>
	<a href="/wall/write">Write post again</a>
</div>
