<div style="background-color: #e9eaed;">
  <h1>Write Comment</h1>
  <form action="/wall/write_comment_complete" method="post">
  	<input type="hidden" name="post_id" value="<%= @post_comment.id %>">
    <div style="background-color: #ffffff; width: 400px; border: 2px solid #d3d6db; padding: 15px; word-break: break-all;">
      <h3 style="color: #0000ff;"><%= @post_comment.name %></h3>
      <p><%= @post_comment.content %></p>
    </div><br>
    <input style="width: 100px;" type="text" name="writer" placeholder="Name">: <input style="width: 300px;" type="text" name="content" placeholder="Write a comment...">
    <input type="submit" value="write">
  </form>
</div>
